<!DOCTYPE html>
 
<html lang="es">
 
<head>
<title>Busquedas</title>
<meta charset="utf-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="busquedaApp" ng-controller="busquedaCtrl" >
<div class="page-header">
  <h1>PRUEBA BUSQUEDAS PORLARUTA</h1>
</div>
<div class="container">


<form ng-submit="busqueda(actividad)">
<label>Busqueda por Actividad:</label> 
<input type="text" id="actividad" data-ng-model="actividad.act" class="form-control" autofocus/>
<br/>
<label>Busqueda por Destino:</label>   
<input type="text"  id="destino" data-ng-model="actividad.des" class="form-control"/>
<br/>
<input type="submit" id="submit" name="buscar" value="busqueda" class="btn btn-default" />
</div>
</form>
<table>
    <tr>
        <th>Actividad Buscada </th>
        <th>&nbsp Negocio encontrado</th>
         
    </tr>
    <tr ng-repeat="x in data">
   <td>{{x.descripcionD}}</td>
   <td>&nbsp {{x.nombreNegocio}}</td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <th>sitio buscado </th>
        <th>&nbsppueblos magicos</th>
         
    </tr>
    <tr ng-repeat="d in dataSitio">
        <td>{{d.estado}}</td>
        <td>&nbsp {{d.nombre}}</td>
    </tr>
</table>
</body>
</html>